[submodule "Cinder"]
	path = Cinder
	url = git@github.com:cinder/Cinder.git
[submodule "opencv"]
	path = opencv
	url = https://github.com/opencv/opencv
[submodule "dlib"]
	path = dlib
	url = https://github.com/davisking/dlib
[submodule "opencv_contrib"]
	path = opencv_contrib
	url = https://github.com/opencv/opencv_contrib.git
